extends layout

block content
  p(id='show' style='display:none')= counter
  a(href='https://testoneone123.herokuapp.com/list')= title
  section(class ='search-section' id='search-section')
    div.search-container
      div(id='current-container' class='current-container')
        div(id='current-loc' class='current-loc')='Press here to see the weather forecast for'
        div(id='inner-current-loc' class='inner-current-loc')='*LOC*'
      div(class='header-container')
        div(class='main-header')='WEATHER'
        hr.hr-heading
        div(class='sub-header-main')='WHEREVER'
      input(name ='google' id='pac-input' class='controls' type='text required' placeholder='Put location in me' autofocus)
      form(action='/' method='post')
        textarea(id='latt' name='latt')
        textarea(id='long' name='long')
        textarea(id='address' name='address')
        button(type='submit' id='submit' class='submit')='See forecast!'
      div(class='top5-button-container' id='top5-container')
        div(class='top5-button')='Top 5'
      div(class='top5-container-list top5-no-display' id='top5-list')
        div(class='the-list-container')
          h2(class='top5-header')='Top 5 searches!'
          form(class='top5-el-container' action='/' method='post')
            p(class='top5-element' id='top5-element')='1.'+list1
            hr.hr-top5
            p(class='top5-element' id='top5-element')='2.'+list2
            hr.hr-top5
            p(class='top5-element' id='top5-element')='3.'+list3
            hr.hr-top5
            p(class='top5-element' id='top5-element')='4.'+list4
            hr.hr-top5
            p(class='top5-element' id='top5-element')='5.'+list5
            hr.hr-top5
      div(id='scroll-button' class='scroll-button')
        div(class='scroll-plz' id='scroll-plz')='Scroll down for weather!'
        div(class='scroll-icon' id='scroll-icon')='❯'
  section(id ='daySection' class= 'day-section section-display')
    h1(class= 'day-header' id='hour-head')='TODAY IN *YOUR LOCATION'
    h2(class= 'day-header sub-header')='Pick hour'
    select(id='hour-list' class='select-button')
      option(id='hour0')
      option(id='hour1')
      option(id='hour2')
      option(id='hour3')
      option(id='hour4')
      option(id='hour5')
      option(id='hour6')
      option(id='hour7')
      option(id='hour8')
      option(id='hour9')
      option(id='hour10')
      option(id='hour11')
      option(id='hour12')
      option(id='hour13')
      option(id='hour14')
      option(id='hour15')
      option(id='hour16')
      option(id='hour17')
      option(id='hour18')
      option(id='hour19')
      option(id='hour20')
      option(id='hour21')
      option(id='hour22')
      option(id='hour23')
    div(class='main-day-container' id='mainDayContainer')
      div(class='icon-container' id='icon-container')
  section(id='weekSection' class='week-section section-display')
    div(class='container-loading' id='container-loading')
      h1(class='loading-header' id='loading')='Looking outside for you...'
      div(class='container-cloud')
        div(class='icon-rain-loading')
          div(class='cloud-base')
            div(class='cloud-c2')
            div(class='cloud-c1')
            div(class='cloud-c3')
            div(class='rain-loading drop1')
            div(class='rain-loading drop2')
            div(class='rain-loading drop3')
    h1(class='week-header' id='week-header')='THIS WEEK IN '
    div(class='whole-list-container' id='whole-list')
    section(class='footer')
      h2(class='footer-header')='Project by'
      div(class='persons')
        div(class='person')='Aðalsteinn Ingi Pálsson'
          div(class='email')='aip7@hi.is'
        div(class='person')='Fannar Gauti Guðmundsson'
          div(class='email')='fgg2@hi.is'
  script(src='/javascripts/google.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCmmJUUvukFE9TlZ-xHYi_K3BUDCo2JGg8&libraries=places&callback=initAutocomplete' async defer)
  script(src='https://code.jquery.com/jquery-latest.min.js')
  script(src='/javascripts/main.js')
  script(src="./niceSelect/jquery.js")
  script(src="./niceSelect/jquery.nice-select.js")
  script(src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js")
