extends layout

block content
  a(href='https://testoneone123.herokuapp.com/list')= title
  section(class ='search-section' id='search-section')
    div.search-container
      input(name ='google' id='pac-input' class='controls' type='text required' placeholder='Search Box')
      form(action='/' method='post')
        button(type='submit' id='submit' class='submit')='Submit'
        textarea(id='latt' name='latt')
        textarea(id='long' name='long')
        textarea(id='address' name='address')
      div(class='top5-button-container' id='top5-container')
        div(class='top5-button')='Top5'
      div(class='top5-container-list top5-display' id='top5-list')
        div(class='the-list-container')
          h2='Top 5 searches!'
          p(class='top5-element')='1.'+list1 + ':'+num1
          p(class='top5-element')='2.'+list2 + ':'+num2
          p(class='top5-element')='3.'+list3 + ':'+num3
          p(class='top5-element')='4.'+list4 + ':'+num4
          p(class='top5-element')='5.'+list5 + ':'+num5

  script(src='/javascripts/google.js')
  section(id ='daySection' class= 'day-section section-display')
    h1(class= 'week-header' id='hour-head')='TODAY IN *YOUR LOCATION'
    h2(class= 'week-header sub-header')='Pick hour'
    select(id='hour-list' class='select-button')
      option(id='hour0')
      option(id='hour1')
      option(id='hour2')
      option(id='hour3')
      option(id='hour4')
      option(id='hour5')
      option(id='hour6')
      option(id='hour7')
      option(id='hour8')
      option(id='hour9')
      option(id='hour10')
      option(id='hour11')
      option(id='hour12')
      option(id='hour13')
      option(id='hour14')
      option(id='hour15')
      option(id='hour16')
      option(id='hour17')
      option(id='hour18')
      option(id='hour19')
      option(id='hour20')
      option(id='hour21')
      option(id='hour22')
      option(id='hour23')
    div(class='main-day-container' id='mainDayContainer')
      div(class='icon-container' id='icon-container')
  section(id='weekSection' class='week-section section-display')
    div(class='container-loading' id='container-loading')
      h1(class='loading-header' id='loading')='Looking outside for you...'
      div(class='container-cloud')
        div(class='icon-rain-loading')
          div(class='cloud-base')
            div(class='cloud-c2')
            div(class='cloud-c1')
            div(class='cloud-c3')
            div(class='rain-loading drop1')
            div(class='rain-loading drop2')
            div(class='rain-loading drop3')
    h1(class='week-header')='THIS WEEK IN *YOUR LOCATION*'
    div(class='whole-list-container' id='whole-list')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCmmJUUvukFE9TlZ-xHYi_K3BUDCo2JGg8&libraries=places&callback=initAutocomplete' async defer)
  script(src='https://code.jquery.com/jquery-latest.min.js')
  script(src='/javascripts/main.js')
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/jquery.nice-select.js")
